
.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-container{
    margin:0 auto;
    max-width: 75ch;
    margin-top: 10rem;
    padding: 0 16px;
    display: flex;
    gap: 2em;
    flex-direction: column;
    width: 95%;
    align-items: flex-start;
}
h1,h2,h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
}
h1,h2,h3,p {
    max-width: 75ch;
    line-height: 1.5rem;
}
h1{
    font-size: 3rem;
}
.application{
    min-width: 75ch;
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: 0px solid #ccc;
    border-width: 1px;
    margin-bottom: 2em;
}
input{
    align-self: center;
}
ul{
    align-self: center;
    margin: 5px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    min-width: 200px;
}
li{
    font-variant-numeric: normal;
    font-size: 40px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    height: 60px;
    min-width: 60px;
    margin-left: 5px;
    margin-right: 5px;
}
button{
    align-self: center;
    margin-bottom: 2em;
}

li span::before ,
li span::after {
    position: relative;
    border: solid;
    content: '';
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
}
li span::before {
    top: 15px;
    border-color: rgb(12, 168, 12);
    transform: rotate(135deg);
}
li span::after{
    bottom: 15px;
    border-color: red;
    transform: rotate(-45deg);
}