<app-header></app-header>
<div class="page-container">
  <div class="content-container">
    <h1>Queue</h1>
    <h2>What is a Queue?</h2>
    <p class="paragraph">
      A queue is similar to a stack in a way that it is also a 2d list-like
      structure. The only diffference is that queue's push and pop operation is
      FIFO(First in First Out) so that items go out from a different side
      comparing to a stack.
    </p>
    <div class="application">
      <ul>
        <li><span></span></li>
        <li *ngFor="let item of queue">
          {{ item }}
        </li>
        <li>]</li>
      </ul>
      <input (keyup)="onKey($event)" [(ngModel)]="numInput" name="numInput" />
      <button mat-raised-button color="primary" (click)="onClickPush()">
        Push()
      </button>
      <button mat-raised-button color="warn" (click)="onClickPop()">
        Pop()
      </button>
    </div>
    <h2>How did I implement a queue in Javascript/Typescript?</h2>
    <p>
      It is tempting to just use a JavaScript Array, the same structure we used
      to build a stack, to build a queue. We could use Array.shift() which
      directly removes the item from the front of the array. However, this
      operation takes O(n) Time complexity, while we want O(1) for both push and
      pop. Therefore the Javascript built in Array is not an ideal data
      structure to implement a queue. How can we solve this porblem? We can use
      a singly linked list to build our custom queue. Here is how.
    </p>
  </div>
</div>
