
.page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-container{
    margin:0 auto;
    max-width: 75ch;
    margin-top: 50px;
    padding: 0 16px;
    display: flex;
    gap: 2em;
    flex-direction: column;
    width: 95%;
    align-items: flex-start;
}
h1,h2,h3{
    font-weight: 600;
}
h1,h2,h3,p {
    max-width: 75ch;
    line-height: 1.5rem;
}
h1{
    font-size: 3rem;
}
input{
    align-self: center;
}
button{
    align-self: center;
}
ul{
    align-self: center;
    margin: 5px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    min-width: 200px;
}
li{
    font-variant-numeric: normal;
    font-size: 40px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    height: 60px;
    min-width: 60px;

}